.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    
    @include for-narrow-layout {
        max-width: initial;
    }

    @include for-tablet-layout {
        max-width: $narrow-breakpoint;
    }

    @include for-normal-layout {
        max-width: $tablet-breakpoint;
    }

    @include for-wide-layout {
        max-width: $normal-breakpoint;
    }
}
