@font-face {
  font-family: avenir-thin;
  src: url(../../fonts/metropolis/Metropolis-Thin.otf);
}

@font-face {
  font-family: avenir-reg;
  src: url(../../fonts/metropolis/Metropolis-Regular.otf);
}

@font-face {
  font-family: avenir-bold;
  src: url(../../fonts/metropolis/Metropolis-Bold.otf);
}

@font-face {
  font-family: avenir-semibold;
  src: url(../../fonts/metropolis/Metropolis-SemiBold.otf);
}

@font-face {
  font-family: avenir-light;
  src: url(../../fonts/metropolis/Metropolis-Light.otf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../../fonts/Poppins/Poppins-Bold.ttf);
}
